<style scoped>
    .action-link {
        cursor: pointer;
    }

    .m-b-none {
        margin-bottom: 0;
    }

    .card {
        min-height: 300px;
    }

    .card-text {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .5s ease-in;
    }

    .card-text:hover {
        cursor: pointer;
        height: 200px;
        overflow: auto;
    }
</style>

<template>
    <div>
        <!-- Form Errors -->
        <div class="alert alert-danger" v-if="errors.length > 0">
            <p><strong>Whoops!</strong> Something went wrong!</p>
            <br>
            <ul>
                <li v-for="error in errors">
                    <pre>{{ error }}</pre>
                </li>
            </ul>
        </div>

        <!-- Create Client Form -->
        <form class="form-horizontal" role="form" @submit="search">
            <!-- Name -->
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input id="create-client-name" type="text" v-model="keyword" class="form-control"
                               placeholder="Enter Search word" @keyup="logSearch">
                        <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit" @click="search">Search</button>
                                </span>
                    </div>

                    <span class="help-block">
                                        Enter keywords of videos to be found on youtube.
                            </span>
                </div>
            </div>

        </form>

        <!-- Current Clients -->
        <p class="m-b-none" v-if="videos.length === 0">
            There are no video to be displayed.
        </p>

        <div class="row m-b-none" v-if="videos.length > 0">
            <div class="col-sm-6" v-for="video in videos">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9" v-if="video.player"
                         v-html="video.player.embedHtml.replace('<iframe', '<iframe class=\'embed-responsive-item\'')"></div>
                    <div class="card-block">
                        <h4 class="card-title">{{ video.snippet.title }}</h4>
                        <p class="card-text" data-toggle="tooltip" title="click to expand">{{ video.snippet.description
                            }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                videos: [],
                errors: [],
                keyword: ''
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            logSearch() {
                console.log(this.keyword);
            },

            prepareComponent() {
                this.getVideos();
            },

            /**
             * Request popular videos.
             */
            getVideos() {
                this.request('post', '/alternative/youtube-index');
            },

            /**
             * Request video search.
             */
            search(event) {
                event.preventDefault();
                this.request('post', '/alternative/youtube-search/', {
                    'search': this.keyword
                });
            },

            /**
             * Persist the client to storage using the given form.
             */
            request(method, uri, data = {}) {
                this.errors = [];

                axios[method](uri, data)
                    .then(response => {
                        this.videos = response.data;
                        console.log(this.videos);
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = _.flatten(_.toArray(error.response.data));
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
        }
    }
</script>
